:root {
    --primary-color: #362706;
    --secondary-color: #464E2E;
    --tertiary-color: #ACB992;
    --quarternary-color: #E9E5D6;
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Assistant', sans-serif;
    background-color: var(--secondary-color);
    }
header {
    padding: 20px 35px;
    align-items: baseline;
    background-color: var(--secondary-color);
    color: var(--quarternary-color);
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 9999;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url(./images/markus-spiske-vrbZVyX2k4I-unsplash-sm.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-position:80%;
    }
    
    header a {
        color: var(--quarternary-color) !important;
        text-decoration: none !important;
        }
header h1 {
    font-family: 'Seaweed Script', cursive;
    font-size:60px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header li{
    height:50px;
    padding: 10px;
    margin-left:5px;
    list-style-type: none;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

     
  .nav-contact {
    background-color: var(--tertiary-color);
    color:var(--quarternary-color);
    border-radius: 15px;
    padding: 5px;
    font-size: 25px;
}
#weather-icon {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    flex-direction: row-reverse;
    align-items:center;
}
  #weather-icon:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  .nav-contact:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
  }
.navbar {
    align-items: baseline;
}

.hero-container {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url(./images/markus-spiske-vrbZVyX2k4I-unsplash-sm.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display:flex;
    flex-flow: row wrap;
    align-items: flex-start;
    } 

    .hero-cta {
        text-align: center;
        color:var(--quarternary-color);
        width: 100%;
        margin: 3.5%;
        font-size: 25px;
        font-weight:700;
        line-height: 1.2;
      }


.row1 {
align-items:center;
}
#search-card {
    background-color: var(--tertiary-color);
    border-radius: 15px;
    margin:5vw 5vw 0vw 5vw;
    padding: 0px;
}
.search-label {
    color: var(--primary-color);
}
#search-button {
    background-color: var(--secondary-color);
}
.search-history {
    background-color: var(--tertiary-color);
    border-radius:15px;
    margin: 2vw 5vw 5vw 5vw;
    padding: 15px;
}
.search-history label {
    margin-bottom: 5px;
}
#invalid-input {
   padding-left:25px;
   font-style: italic;
   }
.search-container {
    width: 40;
}
.plant-container {
    color: var(--secondary-color);
    font-size: 30px;
    padding: 0px 10px 10px 10px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px;
    }
#plant-card-container {
    background-color: var(--tertiary-color);
    max-width: 100%;
    border-radius: 15px;
   
}
#plant-info-container {
    background-color: var(--tertiary-color);
    max-width: 100%;
    margin-left: 10px;
    border-radius: 15px; 
    }
#plant-image-container {
    padding-top: 40px;
    width:100%;
   }
.description {
    width: 300px;
}
#row1 {
    display:flex;
}

footer {
    background-color: var(--tertiary-color);
    width:100%;
    margin-top: 25px;
    padding-top: 10px;
 }
footer ul {
    width: 100%;
    list-style: none;
    display:inline;
    justify-content: space-around;
}
footer li {
    width: 100;
}
footer a {
    color: var(--quarternary-color) !important;
    text-decoration: none !important;
}
footer h2 {
    text-decoration: underline;
}

@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative
    }
  
    header h1 {
      width: 100%;
      text-align: center;
      margin: 0px;
    }
  
    header nav ul {
      width: 100%;
      justify-content: center;
    }
    .plant-container {
        width: 100%;
        flex: 0 100%;
        margin-right: 0px;
        }
    #plant-card-container {
        flex: 0 100%;
          }
    #plant-info-container {
        flex: 0 100%;
        margin-top: 15px;
        margin-left:0px;
               }

    #plant-image-container {     
        margin:auto;
        padding: 0px;
        margin-bottom:25px;
        flex: 0 50%;}
    }
    